<h2>Invoices</h2>
<% if @invoices.empty? %>
  <em>There aren't any invoices.</em>
<% else %>
  <table>
    <tr>
      <th>Id</th>
      <th>Company</th>
      <th>Created At</th>
      <th>Due On</th>
      <th>Paid On</th>
    </tr>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= link_to invoice.id, invoice %></td>
        <td><%= invoice.account.name %></td>
        <td><%= invoice.created_at %></td>
        <td><%= invoice.due_at %></td>
        <td><%= invoice.paid_at %></td>
      </tr>
    <% end %>
  </table>
<% end %>
<div class='clear'><!-- --></div>
<br />
<%= button_to "Create a New Invoice", new_invoice_url, :method => :get %>