<h2>Invoices</h2>

<% if @invoices.empty? %>
  <em>There aren't any invoices.</em>
<% else %>
  <table>
    <tr>
      <th>Id</th>
      <th>Company</th>
      <th>Created At</th>
      <th>Due On</th>
      <th>Paid On</th>
    </tr>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= link_to invoice.id, invoice %></td>
        <td><%= invoice.company_name %></td>
        <td><%= invoice.created_at %></td>
        <td><%= invoice.due_on %></td>
        <td><%= invoice.paid_at %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<%= link_to "New Invoice", new_invoice_url %>